@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  color: white;
  background: linear-gradient(
    135deg,
    #020617 0%,
    #0f172a 40%,
    #111827 100%
  );
}

* {
  box-sizing: border-box;
}