# Dependencies
node_modules
client/node_modules
server/node_modules

# Env files
.env
server/.env
*.env.local

# Build output
dist
dist-ssr
client/dist

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.idea
*.iml

# OS
.DS_Store

# Logs
*.log
npm-debug.log*